<script>
  import { db } from "./firebase.js";

  let name = "";
  let email = "";
  let idUpdate = "";
  let users = [];
  db.collection("users")
    .orderBy("name", "asc")
    .onSnapshot(data => {
      users = data.docs;
    });

  function addUser() {
    db.collection("users").add({
      name: name,
      email: email
    });
    name = "";
    email = "";
  }

  function deleteUser(id) {
    db.collection("users")
      .doc(id)
      .delete();
  }

  function sendForm(x, y, z) {
    name = x;
    email = y;
    idUpdate = z;
  }

  function updateUser() {
    db.collection("users")
      .doc(idUpdate)
      .update({
        name: name,
        email: email
      });
  }
  let user = {};
  function userById(id) {
    db.collection("users")
      .doc(id)
      .onSnapshot(data => {
        user = data.data();
        console.log(user.name);
      });
  }
</script>

<nav class="blue" />

<div class="container">
  <h1>Crud firestore</h1>

  <input type="hidden" bind:value={idUpdate} />
  <input type="text" placeholder="Nombre" bind:value={name} />
  <input type="email" placeholder="Email" bind:value={email} />
  <button class="btn blue" on:click={addUser}>Guardar</button>
  <button class="btn green" on:click={updateUser}>Actualizar</button>

  <table>
    <th>Id</th>
    <th>Nombre</th>
    <th>Email</th>
    <th>Eliminar</th>
    <th>Editar</th>
    <th>Enviar ID</th>
    {#each users as item}
      <tr>
        <td>{item.id}</td>
        <td>{item.data().name}</td>
        <td>{item.data().email}</td>
        <td>
          <button class="btn red" on:click={deleteUser(item.id)}>
            Eliminar
          </button>
        </td>
        <td>
          <button
            class="btn orange"
            on:click={sendForm(item.data().name, item.data().email, item.id)}>
            Editar
          </button>
        </td>
        <td>
          <button class="btn cyan" on:click={userById(item.id)}>
            Enviar ID
          </button>
        </td>
      </tr>
    {:else}
      <tr>
        <td colspan="6">
          <p>No hay datos en firestore</p>
        </td>
      </tr>
    {/each}
  </table>

</div>
